<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

    <logger name="FS.MIGRATIONS" level="DEBUG" additivity="false">
        <appender-ref ref="stdout" />
    </logger> 
    
    <logger name="com.zaxxer.hikari" level="WARN" additivity="false">
        <appender-ref ref="stdout" />
    </logger>

</configuration>
